.bg-calc,.preimbuy1 {
    float: left
}

.size1,.size2 {
    font-size: x-small
}

#smoothly {
    vertical-align: bottom
}

#select,#smoothly,#start_stop,#timer1,#timer2,#timer3,#timer4,.snooze {
    cursor: pointer
}

#main,button.snooze,button.start,p.aboveclock,p.alarm,p.alarm_s {
    font-weight: 700
}

#main,#remaining,.first,.i,.next {
    max-width: 636px
}

#main,.clock,.hide,.i {
    overflow: hidden
}

body,form,h1,h2,h3,input,label,li,ol,p,quote,small,ul {
    margin: 0;
    padding: 0
}

.bg-calc {
    margin: -4px 2px 0 0;
    width: 16px;
    height: 16px;
    background: url(../img/css_sprites.png) -668px -94px
}

.bg-comment {
    float: left;
    margin: 2px 2px 0 0;
    width: 15px;
    height: 11px;
    background: url(../img/css_sprites.png) -686px -94px
}

.preimbuy1,.preimbuy2 {
    text-align: left;
    margin-top: 15px;
    padding-left: 30px
}

.preimbuy1 li:before,.preimbuy2 li:before {
    background: url(../img/css_sprites.png) -552px -116px;
    width: 12px;
    height: 12px;
    margin-right: 7px;
    display: inline-block;
    position: relative;
    content: " "
}

.preimbuy2 {
    float: right
}

.preimbuy1 li,.preimbuy2 li {
    margin-bottom: 7px;
    list-style: none
}

.height {
    height: 160px
}

.first {
    height: 140px;
    margin: auto 10px
}

.first1 {
    width: 47.8%;
    margin-top: 35px;
    float: left
}

.first2 {
    width: 52%;
    float: right
}

.next1 {
    text-align: right;
    width: 47.8%;
    float: left;
    margin-top: 12px
}

.center,p.aboveclock {
    text-align: center
}

.last1 {
    width: 47%;
    margin-top: 35px;
    float: left
}

.r,.size2 {
    float: right
}

.i {
    margin-top: 30px
}

.size2 {
    margin-top: 4px;
    padding-right: 10px
}

.size1 {
    float: left;
    padding: 3px 0 0 10px
}

@media screen and (max-width: 1000px) {
    .adds_layer {
        display:none
    }
}

p.aboveclock {
    font-family: Tahoma;
    font-style: normal;
    font-size: 32px;
    text-decoration: underline
}

p.alarm,p.alarm_s,p.time_rem {
    font-family: Tahoma;
    font-style: normal;
    font-size: 13px
}

p.alarm,p.time_rem {
    text-align: right
}

#timer3 {
    margin-left: 65px
}

p.time_rem {
    margin-right: 16px;
    margin-top: 35px
}

#select,.smoothly {
    margin-left: 35px
}

#countcanvas {
    margin-left: 9px;
    margin-top: 35px
}

#countcanvas,noindex:-o-prefocus {
    margin-left: -21px
}

#timer1,#timer2,#timer3,#timer4 {
    width: 40px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px
}

button.minus {
    margin-left: 32px;
    margin-right: 16px
}

button.minus,noindex:-o-prefocus {
    margin-left: -7px
}

button.minus2 {
    margin-left: 65px;
    margin-right: 16px
}

button.snooze,button.start {
    min-width: 160px;
    height: 35px;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    border-radius: 8px;
    font-family: Arial;
    font-size: 20px
}

.seotextniz,h1 {
    border-bottom: 1px solid #000
}

button.snooze[disabled]:disabled {
    color: #BBB;
    opacity: .65;
    cursor: no-drop
}

.snooze {
    margin-left: 25px
}

#select[disabled],#timer1[disabled],#timer2[disabled],#timer3[disabled],#timer4[disabled] {
    cursor: no-drop
}

select.sound {
    width: 100px;
    margin-bottom: 18px
}

.lang {
    font-size: 1.7em;
    cursor: pointer;
    float: right;
    margin: 10px
}

#main {
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    background-color: #252525;
    position: relative;
    z-index: 20;
    padding-bottom: 15px
}

.sound {
    margin-top: 20px
}

body {
    color: #ddd;
    font-size: 13px;
    background: #4d4d4d;
    font-family: Arial,Helvetica,sans-serif
}

h1,h2 {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-weight: 400
}

#saat {
    margin: 10px auto;
    max-width: 600px;
    height: 230px
}

.hide {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px
}

.bg-budilnik_online {
    width: 45px;
    height: 59px;
    background: url(../img/css_sprites.png) -506px -94px;
    margin-top: 5px;
    margin-left: 30px;
    position: absolute
}

h1 {
    background-color: #222;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 15px 0 15px 90px;
    text-align: left
}

.uyandir,h2 {
    text-align: right
}

h2 {
    font-size: 12px;
    padding-right: 140px;
    position: relative;
    right: 0;
    text-transform: uppercase;
    top: -48px
}

a,a:visited {
    color: #ddd;
    text-decoration: none;
    outline: 0
}

.yakor,a:hover {
    text-decoration: underline
}

.ertele {
    width: 52%;
    float: right
}

.uyandir {
    width: 47.8%;
    float: left
}

#button_play,#button_stop {
    width: 27px;
    height: 20px;
    display: inline-block;
    margin-bottom: -5px
}

#alarmkur {
    text-align: initial;
    margin: 10px auto
}

#button_play {
    background: url(../img/css_sprites.png) -610px -94px
}

#button_play:hover {
    background: url(../img/css_sprites.png) -639px -94px
}

#button_stop {
    background: url(../img/css_sprites.png) -552px -94px
}

.adds,.adds_layer {
    top: 0;
    height: 100%
}

#button_stop:hover {
    background: url(../img/css_sprites.png) -581px -94px
}

.adds_layer {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: -1
}

.adds {
    position: relative;
    margin: 0 auto;
    width: 1000px
}

.add_left,.add_right {
    position: absolute;
    top: 20px;
    width: 160px;
    height: 600px;
    background-color: #4d4d4d
}

.add_left {
    left: 12px
}

.add_right {
    right: 12px
}

.seotext {
    padding: 0 50px;
    text-align: center;
    margin-top: 20px
}

.seotextniz {
    padding: 0 50px 20px;
    text-align: center;
    margin: 15px 0
}

.itext {
    width: 170px;
    height: 24px;
    margin: 0 auto;
    text-align: justify;
    font-size: 10px;
    color: #616161
}

.buy,.buy a {
    height: 91px
}

#select_td {
    width: 52%;
    float: right
}

.bg-led,.buy,.buy a {
    width: 300px
}

.share {
    margin: 20px 0 5px
}

.adtext {
    padding: 0 50px;
    text-align: center
}

.zglk {
    font-size: 20px;
    margin-bottom: 8px
}

.preim {
    text-align: left;
    margin-bottom: 15px
}

.buy {
    background: url(../img/css_sprites.png) -504px -1px;
    margin: 15px auto
}

.buy a {
    display: block
}

.bg-led {
    height: 218px;
    background: url(../img/css_sprites.png) -1px -1px;
    margin: 0 auto
}

.clock,.clock .bg,.clock .front {
    height: 200px;
    background-color: #252525
}

.yakor {
    display: inline-block;
    font-size: 10px;
    margin-top: 6px
}

.yakor:hover {
    text-decoration: none
}

.clock {
    width: 200px;
    position: relative;
    float: left
}

.clock .rotate {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0
}

.rotate.right {
    display: none;
    z-index: 11
}

.clock .bg,.clock .front {
    width: 100px;
    position: absolute;
    top: 0
}

.clock .display {
    position: absolute;
    width: 200px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    z-index: 20;
    color: #F5F5F5;
    font-size: 60px;
    text-align: center;
    top: 65px;
    left: 0;
    text-shadow: 4px 4px 5px #333
}

@media (min-width: 600px) {
    .clock .bg.left {
        left:0
    }

    .orange .bg.left {
        background: url(../img/css_sprites.png) -303px -1px no-repeat
    }

    .green .bg.left {
        background: url(../img/css_sprites.png) -203px -221px no-repeat
    }

    .blue .bg.left {
        background: url(../img/css_sprites.png) -1px -221px no-repeat
    }

    .clock .bg.right {
        left: 100px
    }

    .orange .bg.right {
        background: url(../img/css_sprites.png) -403px -1px no-repeat
    }

    .green .bg.right {
        background: url(../img/css_sprites.png) -303px -221px no-repeat
    }

    .blue .bg.right {
        background: url(../img/css_sprites.png) -101px -221px no-repeat
    }
}

@media (min-width: 320px) and (max-width:449px) {
    .adtext {
        padding:0 10px
    }

    button.snooze,button.start {
        min-width: 105px
    }

    .uyandir {
        width: 38%
    }

    .ertele {
        width: 62%
    }

    .preimbuy1,.preimbuy2 {
        margin: 15px auto 0;
        width: 240px;
        float: none;
        padding-left: 30px
    }

    #select_td,.first1,.first2,.last1 {
        margin: 0 auto
    }

    .clock .bg.left {
        left: 0
    }

    .clock .bg,.clock .front {
        width: 50px;
        height: 150px
    }

    .clock,.clock .rotate {
        width: 100px;
        height: 100px
    }

    .clock .display {
        width: 100px;
        font-size: 30px;
        top: 30px
    }

    #select_td,.first1,.first2,.last1,.next1 {
        float: none;
        width: 300px;
        text-align: center
    }

    #select {
        margin-left: 0
    }

    #countcanvas {
        margin-top: 20px
    }

    .height {
        text-align: center
    }

    #remaining {
        height: 108px;
        margin-top: 40px
    }

    p.time_rem {
        text-align: center;
        margin-top: 0
    }

    .next1 {
        margin: 30px auto 0
    }

    .i {
        margin-top: 20px
    }

    .next {
        height: 60px
    }

    p.alarm {
        text-align: center;
        margin-bottom: 15px
    }

    button.minus {
        margin-left: -5px
    }

    .seotext {
        padding: 0 10px
    }

    .seotextniz {
        padding: 10px
    }

    #saat {
        max-width: 300px;
        height: 100px
    }

    .clock .bg.right {
        left: 50px
    }

    .bg-calc {
        background: url(../img/css_sprites2.png) -583px -94px
    }

    .bg-comment {
        background: url(../img/css_sprites2.png) -583px -116px
    }

    .preimbuy1 li:before,.preimbuy2 li:before {
        background: url(../img/css_sprites2.png) -554px -138px
    }

    .bg-budilnik_online {
        background: url(../img/css_sprites2.png) -507px -94px
    }

    #button_play {
        background: url(../img/css_sprites2.png) -554px -94px
    }

    #button_play:hover {
        background: url(../img/css_sprites2.png) -536px -155px
    }

    #button_stop {
        background: url(../img/css_sprites2.png) -507px -155px
    }

    #button_stop:hover {
        background: url(../img/css_sprites2.png) -554px -116px
    }

    .buy {
        background: url(../img/css_sprites2.png) -303px -1px
    }

    .bg-led {
        background: url(../img/css_sprites2.png) -1px -1px
    }

    .orange .bg.left {
        background: url(../img/css_sprites2.png) -405px -94px no-repeat
    }

    .green .bg.left {
        background: url(../img/css_sprites2.png) -303px -94px no-repeat
    }

    .blue .bg.left {
        background: url(../img/css_sprites2.png) -1px -221px no-repeat
    }

    .orange .bg.right {
        background: url(../img/css_sprites2.png) -455px -94px no-repeat
    }

    .green .bg.right {
        background: url(../img/css_sprites2.png) -353px -94px no-repeat
    }

    .blue .bg.right {
        background: url(../img/css_sprites2.png) -51px -221px no-repeat
    }
}

@media (min-width: 449px) and (max-width:537px) {
    .preimbuy1,.preimbuy2 {
        padding-left:0;
        margin: 25px 0 0 auto
    }
}

@media (min-width: 449px) and (max-width:599px) {
    .height,p.alarm,p.time_rem {
        text-align:center
    }

    .adtext {
        padding: 0 30px
    }

    p.alarm {
        margin-bottom: 10px
    }

    .first1,.first2,.last1 {
        float: none;
        margin: 0 auto;
        width: 323px
    }

    .next {
        margin-top: 30px
    }

    .i {
        margin-top: 20px
    }

    #remaining {
        height: 108px;
        margin-top: 95px
    }

    p.time_rem {
        margin-right: 0
    }

    .height {
        height: 0
    }

    #countcanvas {
        margin-top: 10px
    }

    #saat {
        max-width: 450px;
        height: 140px
    }

    .clock .bg.left {
        left: 0
    }

    .clock .bg.right {
        left: 75px
    }

    .clock .bg,.clock .front {
        width: 75px;
        height: 150px
    }

    .clock,.clock .rotate {
        width: 150px;
        height: 150px
    }

    .clock .display {
        width: 150px;
        font-size: 45px;
        top: 50px
    }
}

@media (min-width: 450px) and (max-width:599px) {
    .bg-calc {
        background:url(css_sprites1.png) -466px -94px
    }

    .bg-comment {
        background: url(css_sprites1.png) -484px -94px
    }

    .preimbuy1 li:before,.preimbuy2 li:before {
        background: url(css_sprites1.png) -350px -116px
    }

    .bg-budilnik_online {
        background: url(css_sprites1.png) -303px -94px
    }

    #button_play {
        background: url(css_sprites1.png) -350px -94px
    }

    #button_play:hover {
        background: url(css_sprites1.png) -437px -94px
    }

    #button_stop {
        background: url(css_sprites1.png) -408px -94px
    }

    #button_stop:hover {
        background: url(css_sprites1.png) -379px -94px
    }

    .buy {
        background: url(css_sprites1.png) -303px -1px
    }

    .bg-led {
        background: url(css_sprites1.png) -1px -1px
    }

    .orange .bg.left {
        background: url(css_sprites1.png) -1px -221px no-repeat
    }

    .green .bg.left {
        background: url(css_sprites1.png) -153px -221px no-repeat
    }

    .blue .bg.left {
        background: url(css_sprites1.png) -305px -221px no-repeat
    }

    .orange .bg.right {
        background: url(css_sprites1.png) -76px -221px no-repeat
    }

    .green .bg.right {
        background: url(css_sprites1.png) -228px -221px no-repeat
    }

    .blue .bg.right {
        background: url(css_sprites1.png) -380px -221px no-repeat
    }
}

.clock .front.left {
    left: 0;
    z-index: 10
}

.social-likes,.social-likes__widget {
    display: inline-block;
    padding: 0;
    vertical-align: middle!important;
    word-spacing: 0!important;
    text-indent: 0!important;
    list-style: none!important
}

.social-likes {
    opacity: 0
}

.social-likes_visible {
    opacity: 1;
    transition: opacity .1s ease-in
}

.social-likes>* {
    display: inline-block;
    visibility: hidden
}

.social-likes_visible>* {
    visibility: inherit
}

.social-likes__widget {
    display: inline-block;
    position: relative;
    white-space: nowrap
}

.social-likes__widget:after,.social-likes__widget:before {
    display: none!important
}

.social-likes__button,.social-likes__counter,.social-likes__icon {
    text-decoration: none;
    text-rendering: optimizeLegibility
}

.social-likes__button,.social-likes__counter {
    display: inline-block;
    margin: 0;
    outline: 0
}

.social-likes__button {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.social-likes__button:before {
    content: "";
    display: inline-block
}

.social-likes__icon {
    position: absolute;
    top: 0;
    left: 0
}

.social-likes__counter {
    display: none;
    position: relative
}

.social-likes_ready .social-likes__counter {
    display: inline-block
}

.social-likes {
    min-height: 36px;
    margin: -6px;
    line-height: 19px
}

.social-likes__widget {
    margin: 6px;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 19px
}

.social-likes__widget:active,.social-likes__widget:focus,.social-likes__widget:hover {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    cursor: pointer
}

.social-likes__button,.social-likes__counter {
    vertical-align: middle;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    line-height: 20px;
    cursor: inherit
}

.social-likes__button {
    padding: 1px 6px 1px 20px;
    font-weight: 400;
    border-right: 0
}

.social-likes__icon {
    width: 20px;
    height: 18px;
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.social-likes__counter {
    min-width: 12px;
    padding: 1px 4px;
    font-weight: 400;
    text-align: center;
    border-left: 1px solid #ccc
}

.social-likes__widget:active>.social-likes__counter,.social-likes__widget:focus>.social-likes__counter,.social-likes__widget:hover>.social-likes__counter {
    position: relative;
    border-left-color: transparent
}

.social-likes__widget:active>.social-likes__counter:before,.social-likes__widget:focus>.social-likes__counter:before,.social-likes__widget:hover>.social-likes__counter:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    border-left: 1px solid;
    opacity: .4
}

.social-likes__icon_facebook {
    background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaklEQVR42mJ0Cp7jycDAMBeIJRnwg+dAnMxEpGIGqJq5THgULwFicSBmBGJbmCYWPCYWAvEbdEF8GmCK/yMLMjGQCLBpsIW6GwaQ/UC6Ddj8cBjJZOr44TkJ6l+ANKSAGEQofgpKGgABBgAWcxAZp2KpkQAAAABJRU5ErkJggg==')
}

.social-likes__widget_facebook:active,.social-likes__widget_facebook:focus,.social-likes__widget_facebook:hover {
    background: #425497;
    border-color: #425497
}

.social-likes__widget_facebook:active .social-likes__icon_facebook,.social-likes__widget_facebook:focus .social-likes__icon_facebook,.social-likes__widget_facebook:hover .social-likes__icon_facebook {
    background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaUlEQVR42mL6//+/JxA/+08YgNR4MoIYDAwMkgzEgedMeBQvAWJxIGYEYluomCQLHtMKgfgNuiA+DTDF/5EFmRhIBNg02ELdDQPIfiDdBlCw/sclRzU/PCdB/QuQhhQQgwjFT4E4GSDAAMuiQX7Tr7YFAAAAAElFTkSuQmCC')
}

.social-likes__icon_twitter {
    background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAA9ElEQVR42mKU3vqak4GB4TcQ/2HABFxAXA3EzkD8DIjbgfg+ECuwAIkwIHYD4gSoAchgORD7IfEDgPgpEGczAQlBII4C4kNAbIikSAqIfdEMYgRiMSD+B7JxJ9SZFkB8Foj3A/FWIP4KVYgO5gHxFpBGNSA+DsS2UIVOUIwLfAYRIKe+gGoiFpyDaTwJxEVA/J0ITd+hXgNrBIETMCcQADOA+D26RpCn/+LRdAuI62EcmMb/0IjOx6H5ATSu4a4ChaoPEMcAsTUQy6Bp+AfEy4C4EIjfIEuANG4B4rvQVKEOTWYfoKG3HYgfoluvPm8jA0CAAQAqvDQ/IXqkWQAAAABJRU5ErkJggg==')
}

.social-likes__widget_twitter:active,.social-likes__widget_twitter:focus,.social-likes__widget_twitter:hover {
    background: #00b7ec;
    border-color: #00b7ec
}

.social-likes__widget_twitter:active .social-likes__icon_twitter,.social-likes__widget_twitter:focus .social-likes__icon_twitter,.social-likes__widget_twitter:hover .social-likes__icon_twitter {
    background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAQAAAD4iURRAAAAo0lEQVQYGQXBsSoEAACA4Z8YKIO6yXLzjYrkHS5Wm5GyYPMAUgarMikpGZQHsFh4BZPhJi9wJdzn+7JkQZJk2bl3TzYNbGTfvUVJ8gyYmdjJMd6sS9bMAHwbZ+QHMy9OHQDgWtn1CgAALpUtAADAnpITUwAAU6tKtn0BALiSkjkXfgHAhxUpybwjvwA+DSVl7MEEwJ87A0lKRs7cenTj0FCSpH8xHAhkcGt6PAAAAABJRU5ErkJggg==')
}

.social-likes__icon_plusone {
    background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAABD0lEQVR42nTSsUtCURTH8eszSGgIgkqSoHBQh7QpbAlBcRCJ2staHFoa+hNyzqXBoan+gMDdoWgymkwkBxMiggo3a3Cp76WfcJHXgQ/nvfveue+ewwt08luGmEEdcwgjZP7iFrtmIqaUn5SXkUEDA+wZn/CwgQgetHYjC+JbZCOANWf9VXmobDd+c4vu8YgoalhFFpf4VL8rmMW8vR/3lEQV2yijhUO99KzeQ7p+95wjneAMQcRQ1JfsNA/wrc1T46KaznyMJqZxrcIvdNRf3957Gm8JO0ggjRx+cKpN21h0B7GJDw3EOGPvYuQ3ctvgC+K4w7nOfoQlFP4rsg+usI4Lrff0Z7QnCyqpffMrwAC15jTuOMaeqQAAAABJRU5ErkJggg==')
}

.social-likes__widget_plusone:active,.social-likes__widget_plusone:focus,.social-likes__widget_plusone:hover {
    background: #dd4241;
    border-color: #dd4241
}

.social-likes__widget_plusone:active .social-likes__icon_plusone,.social-likes__widget_plusone:focus .social-likes__icon_plusone,.social-likes__widget_plusone:hover .social-likes__icon_plusone {
    background-image: url('data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAA5klEQVR42myRvQrCMBSFUyehmyC4Zte1OPoALi6+gy/j6uobiINbF3Fx6tDFpZtSUFzEPxQxnksPchty4WvSJPeek5vIOWcQMViCFuiApqliDUbGD0kCeyLzAfiAI4i5VkM+CfiChdpIXRU2lNSgYAR6ysCB441jAkrfXs7KM1YXq3PuicUxuIO2/GvZKSh4n4xrcugKniwq88L3O+GmVB0GlKxWElsl2IEt1d4qsctu/ruXskqiFKXtL2WzRiQJ6McJWO8Jc/AA/dDj7niPDb2LpRU4e+q1x7VMkM5cSMZ7mBA/AQYALgmaWsDGGiQAAAAASUVORK5CYII=')
}

.social-likes__icon_mailru {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8XunISbFxmQ5UYqGIj9KMztLCyTKrMZCs7K1U7NSLBRloWb+AREmFpPF7GUzRBaymGLpV5bi+9RzM+XU595zT+85533PueHTXhC1BFaRx6DHnnGEbbxoIPSEFCp+l3DjCWOYc38FFzEe7Tj3Dlr5AG0OWscA6jhFX5zHmgO1+oy3V0AHirhHGZ36jjnnknfaxzKmMIxdTKMHO0pPE/px6cA7nAV/bQsfXky7fmtCqA5a8Bn8bz/WqlhNaCCDE0xivCk459zfMKq6VPQxCth0wTUfcZdr+UIaWVR1D0k6115lFkNYwLuPeB4beFUm0cVN4NCnoaBb5z3iDFTfIx7Cpl+j23eyiF6Pqb4lXEVBvwIMAGRTP1kwMI3TAAAAAElFTkSuQmCC")
}

.social-likes__widget_mailru:hover,.social-likes__widget_mailru:active,.social-likes__widget_mailru:focus {
    background: #255896;
    border-color: #255896;
    color: #ffcd00
}

.social-likes__widget_mailru:hover .social-likes__icon_mailru,.social-likes__widget_mailru:active .social-likes__icon_mailru,.social-likes__widget_mailru:focus .social-likes__icon_mailru {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8Xtn0IyIDc1SFpJQ5EdN1ChLC6PJFCsWsvInKCvFQllYKPaaZpIpC83CntkgsrBSLP1K2Wh8n3pupubU5865p/c9533PnbBWDaLRijWsYMBrLyhiF69aCJ3Qg7J/j3DrhDFkPV/FuRKSTK6RQAbtmMEPCojjxGv9TTw2XIJ2n/PxN2jDFh5wjA69x1yzytBJB1hCGsPYxyxS2FN5SuhDxYH3OAv+xw4+vZlO/VVCqAma8RU0jpq1KFYJz5jCKSYxXhe87NrfMaq+1HQJ69h2w5e+4k738o1BTONC19rNpOpd5jGEHD5wiAVs4k2VRB9uwneectCd6x5xBervCY9h3V+jy99kEb1eU395XEVBfwIMAE0mQy9JLJUSAAAAAElFTkSuQmCC")
}

.social-likes__icon_vkontakte {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAsElEQVR42mKJLJ3tycDAMBeIJRnwg+dAnMxEpGIGqJq5TGiKGZEwSE4ViDcha2LCYpIREK8C4l4gfgLElciSLDisDgXi/0A8DYi58GkA8Y8AsQkQfwHie0C8BVkBupO4kWyIBWJxIE4D4u/4nKQMxOVQ9jcgbgPii0BsgUvDIyCeBcR/gHgFVI00PhsuA3E61Lkg2xYAsSyyhudIcfGBQOS9AJmSAmIQEdNPQUkDIMAA8iAe2OyimvEAAAAASUVORK5CYII=")
}

.social-likes__widget_vkontakte:hover,.social-likes__widget_vkontakte:active,.social-likes__widget_vkontakte:focus {
    background: #526e8f;
    border-color: #526e8f
}

.social-likes__widget_vkontakte:hover .social-likes__icon_vkontakte,.social-likes__widget_vkontakte:active .social-likes__icon_vkontakte,.social-likes__widget_vkontakte:focus .social-likes__icon_vkontakte {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAfUlEQVQYGQXBMQ4BUQAFwGej0P1aohJCJBpcwu6N1AqVTqFX6TSu4B4if2+gNGZirwIAqPZRAQBADSAiBmYeQACxcXc2sgICiA4/MzsggKFia6HxBAIolk6Oxia+EEDRgYN4QQDF2tXF1NAbAigiGnM3ICoAAOij1QMA+Gj/aNf4AJYJLVIAAAAASUVORK5CYII=")
}

.social-likes__icon_odnoklassniki {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAyElEQVR42kzPMQtBcRTG4UvKQmalZFNKDNdm5gsYFCUlCbMyGMwsfACLzRcw2EwsGJTBQAZlUgxsfidvceq5/3vPeTv3Xs99FHMoP3ooOd+aoo+3T40hmnjouYsQWl4uEdRxRkLO6kVsQwB23nDRBruP2swGJ+zgYqKAq97JAi8UMUNFgb16LwvUkEYHcQUOaGNjgTKyaGCrQErn0gJVpQt/g6teObbfPGKAp/Orp3pH25DEHGGsFchghbxXXxvEAjlZqFf8CDAAgr4qyqKlfhgAAAAASUVORK5CYII=");
    background-position: 6px 3px
}

.social-likes__widget_odnoklassniki:hover,.social-likes__widget_odnoklassniki:active,.social-likes__widget_odnoklassniki:focus {
    background: #f6903b;
    border-color: #f6903b
}

.social-likes__widget_odnoklassniki:hover .social-likes__icon_odnoklassniki,.social-likes__widget_odnoklassniki:active .social-likes__icon_odnoklassniki,.social-likes__widget_odnoklassniki:focus .social-likes__icon_odnoklassniki {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAgElEQVQIHQXBoRGCAAAF0N80OoA0AxTHcQMncAaO7J1ndRCbgUDRbPCgMABEjnu+F7FRGwxqG4m4YTLhJrG36BUKvcU+SnQiOpSx9cHDAx/biMoP/FQSZ3cnFxcnd+d4YfX2tuIVB1cjGF0dIgpf8FVIHI1otRgdozF72tl5mjV/486WhTdrOooAAAAASUVORK5CYII=")
}

@media (max-width: 999px) {
    .adsen-mob {
        display:block!important
    }
}

.adsen-mob {
    display: none;
    margin-top: 10px
}
